html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.panel-title a {
    color: gray;
    font-style: italic;
}

a#delete {
    margin-left: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container-fluid {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.center {
    text-align: center;
}

.glyphicon-trash {
    color: #c60000;
}

.strike {
    text-decoration: line-through;
    color: gray;
}

.input-group {
    width: 100%;
}

.input-group .form-control:last-child:first-child {
    border-radius: 4px;
}

.input-group-btn .btn .glyphicon {
    color: rgb(112, 112, 112);
}